In [1]:
try:
    number=eval(input("enter the number:"))
    square=number*number
    print("the square {} is {}".format(number,square))
except exepection as e:
    print(e)

enter the number:6
the square 6 is 36

QUESTION 2:

In [4]:
try:
    x=eval(input("enter a number:"))
    mul1=1*x
    mul2=2*x
    mul3=3*x
    mul4=4*x
    mul5=5*x
    print(mul1,'----',mul2,'----',mul3,'----',mul4,'----',mul5)
except exepection as e:
    print(e)

enter a number:8
8 ---- 16 ---- 24 ---- 32 ---- 40

QUESTION 3:

In [3]:
try:
    weight=eval(input("enter the value of weight in kg:"))
    pounds=2.2*weight
    print(pounds)
except exepetion as e:
    print(e)

enter the value of weight in kg:7
15.400000000000002

QUESTION 4:

In [5]:
try:
    val1=eval(input("enter the val1:"))
    val2=eval(input("enter the val2:"))
    val3=eval(input("enter the val3:"))
    total=val1+val2+val3
    avg=(val1+val2+val3)/3
    print("the total of the three number is",total)
    print("the avgof  the three number is",avg)
except exepetion as e:
    print(e)

enter the val1:10
enter the val2:20
enter the val3:30
the total of the three number is 60
the avgof  the three number is 20.0

QUESTION 5:

In [6]:
try:
    a=eval(input("enter the price of meal:"))
    b=eval(input("enter the precentage of tip:"))
    c=a*(b/100)
    print(c)
    d=a*c
    print(d)
except exepetion as e:
    print(e)

enter the price of meal:150
enter the precentage of tip:10
15.0
2250.0

QUESTION 6:

In [1]:
try:
    basic_salary=eval(input("enter the basic salary:"))
    dearness_allowance=0.4*basic_salary
    house_rent_allowance=0.2*basic_salary
    gross_salary=basic_salary+dearness_allowance+house_rent_allowance
    print("ramesh gross salary is",gross_salary)
except exception as e:
    print(e)

enter the basic salary:30000
ramesh gross salary is 48000.0

QUESTION 7:

In [2]:
try:
    distance_km=eval(input("enter the distance between two cities:"))
    distance_meters=distance_km*1000
    distance_feet=distance_km*3280.84
    distance_inches=distance_km*39370.1
    distance_centimeters=distance_km*100000
    print("distance in meters:",distance_meters)
    print("distance in feet:",distance_feet)
    print("distance in inches:",distance_inches)
    print("distance in centimeters:",distance_centimeters)
except exception as e:
    print(e)

enter the distance between two cities:60
distance in meters: 60000
distance in feet: 196850.40000000002
distance in inches: 2362206.0
distance in centimeters: 6000000

QUESTION 8:

In [3]:
try:
    sub1=eval(input("enter marks the sub1 (out of 100):"))
    sub2=eval(input("enter marks the sub2 (out of 100):"))
    sub3=eval(input("enter marks the sub3 (out of 100):"))
    sub4=eval(input("enter marks the sub4 (out of 100):"))
    sub5=eval(input("enter marks the sub5 (out of 100):"))
    aggregate_marks=sub1+sub2+sub3+sub4+sub5
    max_marks_per_sub=100
    total_max_marks=5*max_marks_per_sub
    percentage_marks=(aggregate_marks/total_max_marks)*100
    print("aggregate marks:",aggregate_marks)
    print("percentage marks:",percentage_marks)
except exception as e:
    print(e)

enter marks the sub1 (out of 100):90
enter marks the sub2 (out of 100):95
enter marks the sub3 (out of 100):88
enter marks the sub4 (out of 100):85
enter marks the sub5 (out of 100):80
aggregate marks: 438
percentage marks: 87.6

QUESTION 9:

In [4]:
try:
    fahrenheit=eval(input("enter the temperature of a city in fahrenheit degree:"))
    celsius=((fahrenheit-32)*5)/9
    print("temperature in celsius degree is",celsius)
except exception as e:
    print(e)

enter the temperature of a city in fahrenheit degree:50
temperature in celsius degree is 10.0

QUESTION 10:

In [ ]:
try:
    length=eval(input("enter the length of the rectangle:"))
    breadth=eval(input("enter the breadth of the rectangle:"))
    radius=eval(input("enter the radius of the circle:"))
    rectangle_area=length*breadth
    rectangle_perimeter=2*(length*breadth)
    import math
    circle_area=math.pi*(radius**2)
    circle_circumference=2*math.pi*radius
    print("area of the rectagle:",rectangle_area)
    print("area of the perimeter:",rectangle_perimeter)
    print("area of the circle:",circle_area)
    print("circumference of the circle:",circle_circumference)
except exception as e:
    print(e)

QUESTION 11:

In [6]:
try:
    c=eval(input("enter the val of c:"))
    d=eval(input("enter the val of d:"))
    temp=c
    c=d
    d=temp
    print("c val of {} after swapping:".format(c))
    print("d val of {} after swapping:".format(d))
except exception as e:
    print(e)

enter the val of c:6
enter the val of d:8
c val of 8 after swapping:
d val of 6 after swapping:

QUESTION 12:

In [7]:
num=12345
a=num%10
a
a1=num//10
a1
print(a)
print(a1)

5
1234

In [8]:
b=a1%10
b
b1=a1//10
b1
print(b)
print(b1)

4
123

In [9]:
c=b1%10
c
c1=b1//10
c1
print(c)
print(c1)

3
12

In [10]:
d=c1%10
d
d1=c1//10
d1
print(d)
print(d1)

2
1

In [11]:
e=d1%10
e

1

In [12]:
print("the reverse of {} is:".format(num),end='')
print("{}".format(a),end='')
print("{}".format(b),end='')
print("{}".format(c),end='')
print("{}".format(d),end='')
print("{}".format(e))

the reverse of 12345 is:54321

QUESTION 13:

In [ ]:
try:
    n=eval(input("enter the four digits number is:"))
    a=n//1000
    b=n%10
    print(a)
    print(b)
    add=a+b
    print("the sum of first digit {} and last digit {} is: {}".format(b,a,add))
except exception as e:
    print(e)

QUESTION 14:

In [14]:
try:
    total_popl=80000
    percentage_men=52
    percentage_literacy=48
    percentage_literate_men=35
    total_men=(percentage_men/100)*total_popl
    total_literate_men=(percentage_literate_men/100)*total_popl
    total_literate_women=(percentage_literacy/100)*total_popl
    total_illiterate_men=total_men-total_literate_men
    total_illiterate_women=total_popl-(total_illiterate_men+total_literate_women)
    print("total number of illiterate men",total_illiterate_men)
    print("total number of illiterate women",total_illiterate_women)
except exception as e:
    print(e)

total number of illiterate men 13600.0
total number of illiterate women 28000.0

QUESTION 15:

In [15]:
try:
    amount_in_hundreds=eval(input("enter the amount to be withdrawn in hundreds:"))
    number_of_100rs=amount_in_hundreds
    number_of_50rs=(amount_in_hundreds*2)
    number_of_10rs=(amount_in_hundreds*10)
    print("number of 100rs:",number_of_100rs)
    print("number of 50rs:",number_of_50rs)
    print("number of 10rs:",number_of_10rs)
except exception as e:
    print(e)

enter the amount to be withdrawn in hundreds:1000
number of 100rs: 1000
number of 50rs: 2000
number of 10rs: 10000